// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  min-width: 290px;
  font-family: "Benton Sans","Helvetica","sans-serif";
  border-radius: 1%;
}

.session-form-container * {
}

.login-input {
  display: block;
  font-weight: normal;
  height: 32px;
  line-height: 16px;
  font-size: 14px;
  width: 100%;
  padding: 5px, 10px;
  background-color: #ffffff;
  border: 1px solid #DCDCDC;
}

.login-input, textarea {
  letter-spacing: normal;
  text-rendering: auto;
  text-align: start;
  text-indent: 5px;
}

.session-submit {
  padding: 5px;
  background-color: #E51075;
  color: white;
  font-size: 15px;
  margin-left: 180px;
}

.fb-btn {
  background-color: #405d9d;
  border-color: #405d9d;
  color: white;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 3%;
  line-height: 18px;
  width: 220px;
  text-align: center;
}

.session-t1 {
  text-align: center;
  padding: 5px;
  color: grey;
  font-size: 13px;
}

.session-x {
  cursor: pointer;
  color: #6a6a6a;
  font-size: 20px;
  opacity: 0;

}

.session-t2 {
  text-align: center;
  padding: 5px;
  color: grey;
  font-size: 14px;
}

.errors {
  color: #FF324B;
  text-align: left;
  margin-bottom: 10px;
  font-size: 13px;
  max-width: 220px;
}

.session-redirect {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}
.session-redirect-text {
  font-family: "Benton Sans","Helvetica","sans-serif";
  font-size: 14px;
  color: grey;
  padding-right: 5px;
}

.session-redirect-btn {
  font-family: "Benton Sans","Helvetica","sans-serif";
  font-size: 14px;
  color: #0EB4b6;
}
