
.campaign-main {
  margin: 3% 7% 7% 7%;
  font-family: lato;

  .q1-q2 {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    .q1{
      width: 53vw;
      // border: 1px solid black;
      .campaign-mp {
        width: 100%;
      }
    }
    .q2 {
      // border: 1px solid red;
      // margin-left: 20px;
      padding: 0 12px 0 12px;
      width: 46vw;
      }
      .q2 * {
        padding: 5px;
      }
      .funding {
        color: #088366;
        border-bottom: 1px solid #dddddd;
      }
      .campaign-title {
        font-size: 17px;
        font-weight: bold;
      }
      .tagline {
        font-size: 15px;
        color: grey;
      }
      .project-owner {
        font-size: 12px;
        color: grey;
        padding-bottom: 0px;
      }
      .owner-link {
        font-size: 13px;
        font-weight: bold;
        // padding-bottom: 20px;
      }
      .sum {
        display: flex;
        justify-content: space-between;
      }
      .tile-bar{
        height: 10px;
        background-color:#dddddd;
        position: relative;
        .tile-bar-done {
          height: 10px;
          background-color: #088366;
          position: absolute;
          top: 0px;
          left: 1px;
        }
      }
      .funded-deets {
        display: flex;
        justify-content: space-between;
      }
      .backit-row {
        display: flex;
        justify-content: space-between;
        .backit{
          background-color: #EB1478;
          height: 20px;
          width: 100px;
          color: white;
          font-size: 14px;
          text-align: center;
          vertical-align: middle;
        }
        .icons {
          display: flex;
          justify-content: space-between;
          color: grey;
          * * {
            border: 2px solid grey;
          }
        }
      }
    }

    .heart * {
      border-radius: 50%;
    }

    // q3-a4
    .q3-q4 {
      display: flex;
      justify-content: space-between;
      .q3 {
        .campaign-overview-title {
          color: grey;
          border-bottom: 1px solid #dddddd;
        }
        width: 53%;
        .overview-details {
          padding-top: 10px;
          padding-bottom: 15px;
          display: flex;
          justify-content: space-between;
          .campaign-sp-container {
            position: relative;
            // width: 46%;
            .campaign-sp {
              position: absolute;
              clip: rect(0px, 210px, 200px, 0);
            }
            // max-height: 200px;

          }
          .overview-long-description {
            font-size: 13px;
            width: 50%;
            .campaign-stage {
              padding-top: 10px;
              font-size: 14px;

            }
          }

        }
        .campaign-extras {
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 30px;
          display: flex;
          justify-content: space-between;
          color: grey;
          border-bottom: 1px solid #dddddd;
        }
        .campaign-sp-large, .more-words {
          width: 100%;
          padding-top: 15px;
        }

      }
      .q4 {
        width: 30vw;
        border: 1px solid black;
        height: 1000px;
      }
    }
}


// #EB1478
