// .featured {
//   display: block;
//   height: 350px;
//   background-image: url("https://s19.postimg.cc/eb2f11soj/janfillem-623483-unsplash.jpg");
// }




.slider {
  // display: inline-block;
  position: relative;
  .current-slider-photo {
    width: 100%;
    height: 468px;
    object-fit: cover;
    font-family: Lato;
  }
  // .featured-box {
  //   position: absolute;
  //   bottom: 180px;
  //   left: 50px;
  //   top: 310px;
  //   height: 130px;
  //   background-color: rgba(5,4,2,0.1);
  // }
  .featured {
    width: 100px;
    position: absolute;
    bottom: 205px;
    left: 50px;
    font-family: Lato;
    color: rgb(255, 255, 255); 
    mix-blend-mode: color-dodge;
    font-size: 18px;
    opacity: 1;
    text-decoration: underline;
  }
  .featured-text {
    width: 275px;
    position: absolute;
    top: 270px;
    left: 50px;
    font-family: Lato;
    color: rgb(255, 255, 255); 
    mix-blend-mode: color-dodge;
    font-size: 14px;
    opacity: 1;
  }
  .slider-see-campaign {
    width: 117px;
    padding: 7px;
    position: absolute;
    top: 335px;
    left: 50px;
    font-family: Lato;
    color: grey; 
    // mix-blend-mode: color-dodge;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: 1000;
  }
  .slider-see-campaign:hover {
    color: #EB1478;
  }
  .slider-arrows {
    width: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: rgb(255, 255, 255); 
    mix-blend-mode: color-dodge;
    font-size: 40px;
    opacity: 1;
    .left-slider-arrow {
      padding-right: 15px;
    }
  }

}
