.profile-pic {

  padding: 20px;
  max-height: 300px;
  max-width: auto;
}

.campaign-card-photo {
  padding: 20px;
  max-height: 300px;
  max-width: auto;
}

.profile-thumbnail {
  border-radius: 50%;
  max-height: 70px;
  width: 80px;
}

.profile-view {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". profile-name . . . ."
  ". profile-btn profile-campaign-btn . . ."
  ". profile-sub profile-sub profile-sub profile-sub profile-sub  ."
}
